<!--OBS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
if you change something here you need to save loading.jade, postAuth.jade & preAuth.jade
in order to apply changes
--><!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>something</title><link rel="stylesheet" href="../../static/style.min.css"></head><body><style>#aff div {
  margin: auto auto 10px auto;
}</style><div id="postAuth"><a href="/signout"><button id="signOut" class="google-button"><span class="google-button__text">Sign out</span></button></a><div id="playlist" class="center"><iframe id="ytplayer" type="text/html" width="462" height="260" src="https://www.youtube.com/embed/videoseries?list={{playlistId}}&amp;autoplay=1" frameborder="0" allowfullscreen=""></iframe></div></div><p id="byAxoSal">Built with love by <a target="_blank" href="https://axosal.surge.sh">Axo Sal</a></p><div id="aff"><div class="center"><p id="byAxoSal2">Built with love by<a target="_blank" href="https://axosal.surge.sh">Axo Sal</a></p></div></div></body></html>