// out: style.min.css, compress: true, nib: true

lightBlue = #00d2ff
darkerBlue = #3a7bd5

body {
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background: -webkit-linear-gradient(0deg, #00d2ff 10%, #3a7bd5 90%);
  background: linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin:0;
}

#playlist {
  margin-top: 5px;
}

#byAxoSal
  position absolute
  top 10px
  right 10px

#byAxoSal2
  display none

a {
  color: white;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #E91E63;
}

.center {
  text-align: center;
}

/*info */
.container {
  margin-top: 8px;
  padding: 0 10px;
  display: inline-block;
  width: 530px;
  border-radius: 6px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.container p
  text-align left
  margin-top -7px

h1, h2 {
  font-size: 142%;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 565px) {
  .container {
    width: 91%;
  }
  #byAxoSal {
    display: none;
  }

  #byAxoSal2 {
    display: initial;
  }

}

@media screen and (max-width: 480px) {
  #ytplayer {
    width: 100%;
  }
}
/*end of info */

#aff div {
  margin: 10px auto;
  width:315px;
}

/*sign in/sign out buttons */
.google-button {
  margin-top:8px;
  margin-left:8px;
  cursor: pointer;
  outline: 0;
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  padding: 0;
}

.google-button:focus, .google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}
/* end of sign in/sign out buttons */

/*loading animation all the way down */
.madeBy {
  text-align: center;
  margin-top: 30px;
}

.emojis-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.emoji {
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ffeb96;
}

.emoji1:after, .emoji1:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #414141;
  border-radius: 50%;
  top: 48px;
  -webkit-animation: emoji1-face-move 5s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
          animation: emoji1-face-move 5s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.emoji1:after {
  left: 30px;
}
.emoji1:before {
  left: 85px;
}
.emoji1 .mouth {
  position: absolute;
  height: 3px;
  width: 35px;
  background-color: #414141;
  border-radius: 5px;
  top: 68px;
  left: 45px;
  -webkit-animation: emoji1-face-move 5s ease-in-out infinite;
          animation: emoji1-face-move 5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes emoji1-eyes-blink {
  0% {
    height: 10px;
  }
  97% {
    height: 10px;
  }
  100% {
    height: 0px;
  }
}

@keyframes emoji1-eyes-blink {
  0% {
    height: 10px;
  }
  97% {
    height: 10px;
  }
  100% {
    height: 0px;
  }
}
@-webkit-keyframes emoji1-face-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  35% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  65% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  85% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes emoji1-face-move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  35% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  65% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  85% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.emoji2:after, .emoji2:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #414141;
  border-radius: 50%;
  top: 48px;
  -webkit-animation: emoji2-face-move 4s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
          animation: emoji2-face-move 4s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
}
.emoji2:after {
  left: 18px;
}
.emoji2:before {
  left: 72px;
}
.emoji2 .mouth {
  position: absolute;
  height: 22px;
  overflow: hidden;
  border-top: 4px solid #f3f3f3;
  width: 30px;
  background-color: #f7aa86;
  border-radius: 25px;
  top: 68px;
  left: 35px;
  -webkit-animation: emoji2-face-move 4s ease-in-out infinite, emoji2-mouth-move 4s ease-in-out infinite;
          animation: emoji2-face-move 4s ease-in-out infinite, emoji2-mouth-move 4s ease-in-out infinite;
}

@-webkit-keyframes emoji2-face-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  95% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes emoji2-face-move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  95% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes emoji2-mouth-move {
  0% {
    height: 22px;
    border-top: 4px solid #f3f3f3;
  }
  55% {
    height: 22px;
    width: 30px;
    left: 35px;
    border-top: 4px solid #f3f3f3;
  }
  60% {
    height: 10px;
    width: 15px;
    left: 42px;
    border-top: 4px solid #ffeb96;
  }
  95% {
    height: 10px;
    width: 15px;
    left: 42px;
    border-top: 4px solid #ffeb96;
  }
  100% {
    height: 22px;
    width: 30px;
    left: 35px;
    border-top: 4px solid #f3f3f3;
  }
}
@keyframes emoji2-mouth-move {
  0% {
    height: 22px;
    border-top: 4px solid #f3f3f3;
  }
  55% {
    height: 22px;
    width: 30px;
    left: 35px;
    border-top: 4px solid #f3f3f3;
  }
  60% {
    height: 10px;
    width: 15px;
    left: 42px;
    border-top: 4px solid #ffeb96;
  }
  95% {
    height: 10px;
    width: 15px;
    left: 42px;
    border-top: 4px solid #ffeb96;
  }
  100% {
    height: 22px;
    width: 30px;
    left: 35px;
    border-top: 4px solid #f3f3f3;
  }
}
.emoji3:after, .emoji3:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #414141;
  border-radius: 50%;
  top: 48px;
  -webkit-animation: emoji3-face-move 0.25s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
          animation: emoji3-face-move 0.25s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.emoji3:after {
  left: 18px;
}
.emoji3:before {
  left: 72px;
}
.emoji3 .mouth {
  position: absolute;
  height: 22px;
  top: 68px;
  left: 35px;
  -webkit-animation: emoji3-mouth-move 0.25s ease-in-out infinite;
          animation: emoji3-mouth-move 0.25s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.emoji3 .mouth:before, .emoji3 .mouth:after {
  content: "";
  border-radius: 100%;
  position: absolute;
  border: 3px solid transparent;
  border-top: 3px solid #414141;
  border-left: 3px solid #414141;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.emoji3 .mouth:before {
  height: 15px;
  width: 15px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  left: 5px;
}
.emoji3 .mouth:after {
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 12px;
  left: 8px;
}

@-webkit-keyframes emoji3-face-move {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

@keyframes emoji3-face-move {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}
@-webkit-keyframes emoji3-mouth-move {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}
@keyframes emoji3-mouth-move {
  0% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}
