//output: html/loading.html, pretty:false
extends ./template.jade

block content
  h2.center LOADING

  #loadingAnimation
    .emojis-wrapper
        .emoji.emoji1
            .mouth
        .emoji.emoji2
            .mouth
        .emoji.emoji3
            .mouth

    .madeBy
        a(href='http://www.ajerez.es/en/', target='_blank') loading animation made by Ajerez


block redirect
  script.
    setTimeout(function(){
      window.location.replace("/application");
    }, 10);
