//output: html/postAuth.html, pretty:false
extends ./template.jade

block content
  style.
    #aff div {
      margin: auto auto 10px auto;
    }
  #postAuth
    a(href='/signout')
      button#signOut.google-button
        span.google-button__text Sign out
    #playlist.center
      iframe#ytplayer(type='text/html', width='462', height='260', src='https://www.youtube.com/embed/videoseries?list={{playlistId}}&autoplay=1', frameborder='0', allowfullscreen='')
