//
  OBS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  if you change something here you need to save loading.jade, postAuth.jade & preAuth.jade
  in order to apply changes

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title something
    link(rel='stylesheet', href='../../static/style.min.css')

  body

    block content

    p#byAxoSal
      | Built with love by 
      a(target='_blank', href='https://axosal.surge.sh') Axo Sal

    #aff
      .center
        p#byAxoSal2
          | Built with love by
          a(target='_blank', href='https://axosal.surge.sh') Axo Sal

    block redirect
